.main {
  flex: 1;
  padding: 10px 10px 0 10px;
}

.search-notification {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  gap: 12px;
}

.search {
  display: flex;
  align-items: center;
}

input[type="text"] {
  max-width: 500px;
  width: 100%;
  height: 44px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../assets/search.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  border-radius: 12px;
  font-size: 14px;
  border: 1px solid #e1e6ef;
  box-sizing: border-box;
  padding: 12px 20px 12px 40px;
  position: relative;
}

input::placeholder {
  font-size: 14px;
}
input:focus {
  outline: none;
}

.notification {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.notification-bell {
  padding: 10px;
  border: 1px solid #e1e6ef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.main-2nd {
  border: 1px solid #e1e6ef;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
  white-space: nowrap;
}

.greet {
  display: flex;
  gap: 12px;
}

.good-morning {
  display: grid;
  row-gap: 1px;
}

.good-morning-text {
  color: #2f6fed;
  text-transform: capitalize;
  font-size: 12px;
}

.city-name {
  color: #1d2433;
  font-size: 16px;
}

.upgrade-account {
  background-color: #8b54f7;
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 10px 12px;
  border-radius: 12px;
  gap: 4px;
}

/* Main 3rd */

.main-3rd {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.metrics-card {
  border: 1px solid #e1e6ef;
  border-radius: 12px;
  padding: 15px;
  display: flex;
  gap: 12px;
  align-items: center;
  flex: 1;
}

.icon-box-1 {
  width: 54px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid white;
  outline: 1px solid #e1e6ef;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f5ff;
}
.icon-box-2 {
  width: 54px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid white;
  outline: 1px solid #f8f5ff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f5ff;
}
.icon-box-3 {
  width: 54px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid white;
  outline: 1px solid #f0fafe;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0fafe;
}
.icon-box-4 {
  width: 54px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid white;
  outline: 1px solid #f0fafe;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0fafe;
}

.metrics-frame {
  flex: 1;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 12px;
}

.money {
  font-size: 20px;
  font-weight: 500;
  color: #1d2433;
}

.totals {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 6px;
}

.total-text {
  font-size: 14px;
  width: 100%;
  color: #4a505c;
  /* white-space: nowrap; */
}

.metrics-badge {
  background-color: #edfdf8;
  color: #04724d;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  margin-left: auto;
  margin-bottom: auto;
}
.metrics-badge-visitors {
  background-color: #fef1f2;
  color: #e02d3c;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  margin-left: auto;
  margin-bottom: auto;
}

.main-4th {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.revenue-graph-container {
  flex: 1;
  border-radius: 12px;
  border: 1px solid #e1e6ef;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  justify-content: space-between;
}

.total-sales-container {
  display: flex;
  justify-content: space-between;
}

.sales-left {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sales-amount {
  font-size: 20px;
  color: #1d2433;
  font-weight: 500;
}
.sales-text {
  font-size: 12px;
  color: #4a505c;
}

.sales-right {
  display: flex;
  align-items: center;
  gap: 9px;
}

.sales-time-container {
  display: flex;
  align-items: center;
  background-color: #f1f3f9;
  border-radius: 9px;
  padding: 2px;
}
.sales-time {
  padding: 6px 10px;
  font-size: 14px;
  color: #4a505c;
}
.sales-time-1w {
  color: #1d2433;
  font-size: 14px;
  padding: 6px 10px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
.select-range {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  border: 1px solid #e1e6ef;
  padding: 8px 12px;
  font-size: 12px;
}

.sales-graph img {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-right: auto;
}

.total-leads-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  border-radius: 12px;
  border: 1px solid #e1e6ef;
  text-transform: capitalize;
  align-items: center;
}
.total-leads-text {
  font-size: 20px;
  color: #1d2433;
  font-weight: 500;
}
.total-leads-image {
  width: 95%;
}

.dollar-card-container {
  display: flex;
  width: 100%;
}

.dollar-card-1 {
  display: grid;
  gap: 4px;
  justify-content: center;
  flex: 1;
  text-align: center;
  position: relative;
}
.dollar-card-2 {
  display: grid;
  gap: 4px;
  justify-content: center;
  flex: 1;
  text-align: center;
  position: relative;
}

.dollar-card-2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #e1e6ef;
}

.dollar-card-icon {
  display: flex;
  height: 54px;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  background-color: #edfdf8;
  border: 5px solid white;
  border-radius: 50%;
  outline: 1px solid #edfdf8;
}

.main-last {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.people-container {
  flex: 1;
  border: 1px solid #e1e6ef;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.send-receive {
  display: flex;
  gap: 40px;
}
.received,
.send {
  display: flex;
  gap: 8px;
  align-items: center;
}

.received-text,
.send-text {
  font-size: 12px;
  color: #4a505c;
}

.received-amount {
  color: #08875d;
}
.send-amount {
  color: #e02d3c;
}

.received-amount,
.send-amount {
  font-size: 20px;
}

.send {
  flex: 1;
}
.view-all {
  color: #2f6fed;
  text-decoration: underline;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
}

.people-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.site-visitors-container {
  flex: 1;
  border: 1px solid #e1e6ef;
  border-radius: 12px;
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.site-visitors-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.site-visitors-text {
  color: #1d2433;
  font-size: 20px;
  text-transform: capitalize;
}

table {
  border-radius: 12px;
  width: 100%;
  border-collapse: collapse;
  outline: 1px solid #e1e6ef;
  text-transform: capitalize;
  overflow: hidden;
}

td,
th {
  padding: 8px 16px;
}

tr {
  outline: 1px solid #e1e6ef;
}

th {
  color: #4a505c;
  font-size: 12px;
  font-weight: 400;
  background-color: #f1f3f9;
  text-align: left;
}
tbody {
  font-size: 14px;
  color: #1d2433;
}

@media screen and (max-width: 600px) {
  .search-notification {
    padding-left: 50px;
  }
}
